.original{
  background:  #69625e;
  width : 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  img{
    margin-top : 5px;
    border-radius: 50%;    
    margin-bottom: -15px;
  }
}

